@using Setareh.DAL.ViewModels.ContactUs
@model CreateContactUsViewModel
@{
    ViewData["Title"] = "ارتباط با ما";
    Layout = "_layout";
}

<div class="col-12 col-md-12 col-lg-10">
    <div class="box box-content">
        <div class="pb-2">
            <h1 class="title title--h1 first-title title__separate">تماس با ما</h1>
        </div>
        <h2 class="title title--h3">فرم تماس</h2>

        <form  class="contact-form" data-toggle="validator" asp-action="ContactUs" asp-controller="ContactUs" method="post" novalidate="true">
            <div class="row">
                <div class="form-group col-12 col-md-6">
                    <input asp-for="Title" type="text" class="form-control"
                    placeholder="عنوان" required="required" autocomplete="on"/>
                        <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <input asp-for="Mobile" type="text" class="form-control"
                           placeholder="موبایل" required="required" autocomplete="on" />
                        <span asp-validation-for="Mobile"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <input asp-for="FirstName" type="text" class="form-control"
                           placeholder="نام" required="required" autocomplete="on" />
                        <span asp-validation-for="FirstName"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <input asp-for="LastName" type="text" class="form-control"
                           placeholder="نام خانوادگی" required="required" autocomplete="on" />
                        <span asp-validation-for="LastName"></span>
                </div>
                <div class="form-group col-12 col-md-6">
                    <input asp-for="Email" type="text" class="form-control"
                           placeholder="ایمیل" required="required" autocomplete="on" />
                        <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group col-12 col-md-12">
                    <textarea asp-for="Description" class="textarea form-control" id="messageContact" placeholder="پیام..." rows="4" required="required" tabindex="1" style="overflow: hidden; overflow-wrap: break-word; height: 124.279px; outline: none;">
                        @Model.Description
                    </textarea>
                        <span asp-validation-for="Description"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 order-2 order-md-1 text-center text-md-left">
                    <div id="validator-contact" class="hidden"></div>
                </div>
                <div class="col-12 col-md-6 order-1 order-md-2 text-left">
                    <button type="submit" class="btn disabled"><i class="font-icon icon-send"></i> پیام بفرستید</button>
                </div>
            </div>
        </form>
    </div>

    
</div>